<launch>

  <!-- Map server -->
  <arg name="map_file" default="$(find pepper-ros-navigation)/launch/maps/map6floor.yaml"/>
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)">
  <param name="frame_id" value="/map"/>
  </node>

  <!-- Transform -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100"/> 
  <node pkg="tf" type="static_transform_publisher" name="odom_to_footprint" args="0 0 0 0 0 0 odom base_footprint 100"/>  -->
  <!-- 0.15 -0.2 0.0 -->
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_laser" args="0.15 -0.2 0.00 2.22 0 0 base_footprint laser 100"/> 

  <!-- original hight of the laser to base_footprint z = 0.25 -->
  <!-- AMCL -->
  <arg name="custom_amcl_launch_file" default="$(find pepper-ros-navigation)/launch/includes/amcl/asus_xtion_pro_amcl.launch.xml"/>
  <arg name="initial_pose_x" default="11.8"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_y" default="13.4"/> <!-- Use 17.0 for willow's map in simulation -->
  <arg name="initial_pose_a" default="2.3"/>
  <include file="$(arg custom_amcl_launch_file)">
    <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
    <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
    <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
  </include>

  <!-- Move base -->
  <arg name="custom_param_file" default="$(find pepper-ros-navigation)/param/asus_xtion_pro_costmap_params.yaml"/>
  <include file="$(find pepper-ros-navigation)/launch/includes/pepper_move_base.xml">
    <arg name="custom_param_file" value="$(arg custom_param_file)"/>
  </include>

  <!-- Communication with other modules -->
  <node name="communication" pkg="pepper-ros-navigation" type="communication.py" respawn="true" output="screen"/>
  <!-- <node name="publisher" pkg="pepper-ros-navigation" type="publisher.py" respawn="true" output="screen"/> -->

  <!-- NLP -->
  <node name="listener" pkg="pepper-ros-navigation" type="listener.py" respawn="true" output="screen"/>

  <!-- map change -->
  <node name="change_map" pkg="pepper-ros-navigation" type='change_map.py' respawn="false" output="screen"/>
<!-- Rviz -->
<node pkg="rviz" type="rviz" name="rviz" args="-d $(find pepper-ros-navigation)/config/pepper.rviz" />

</launch>